h2 {
  color: #141E3C;
  font-family: Century Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
	margin-left: 150px;
}

.imagem {
 width: 300px;
 height: 380px;
 border-radius: 16%;
 margin-left: 10%;
 margin-top: 250px;
 float: left;
}
/*
@media (min-width: 700px){
   .imagem{
   width: 290px;
   height: 370px;
   }
 }*/
 

 @media (max-width: 768px) and (max-width: 979px) {
   .imagem{
   width: 200px;
   height: 280px;
   }

   .video{
  margin-left: 23px;
  margin-top: 700px;
  width: 90%;
  height: 300px;
  }

  .catalago{
  font-family: Century Arial, Helvetica, sans-serif;
  margin-top: 200px;
  margin-left: 25px;
  }
}

@media (max-width: 368px) and (max-width: 767px) {
.catalago{
  font-family: Century Arial, Helvetica, sans-serif;
  margin-top: 200px;
  margin-left: 25px;
  }
}

@media (max-width: 268px) and (max-width: 367px) {
  .catalago{
  font-family: Century Arial, Helvetica, sans-serif;
  margin-top: 200px;
  margin-left: 700px;
  }
}

/*
@media (min-width: 768px) and (max-width: 768px) {
   .imagem{
   width: 270px;
   height: 350px;
   }

   iframe{
  margin-left: -570px;
  margin-top: 700px;
  width: 50%;
  height: 300px;
}
}*/

.catalago{
  font-family: Century Arial, Helvetica, sans-serif;
  margin-top: 200px;
  float: right;
  margin-right: 500px;
}

.catalago_deta{
	margin: 65px;
}

.catalago_deta{
  color: black;
  font-family: Century Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: 800;
	line-height: 17px;
  }

  h5 {
    color: black;
  font-family: Century Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: 800;
	line-height: 17px;
  text-justify: auto;
  }

  p1 {
    color: black;
  font-family: Century Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: 800;
	line-height: 25px;
  text-justify: auto;
  text-indent: 1.5em;
  }


.video{
  display: block;
  margin: 0 auto;
  margin-top: 900px;
}

#indi_topicos{
  color: #141E3C;
	font-size: 17px;
	font-weight:900;
	line-height: 17px;
  font-family: Century Arial, Helvetica, sans-serif;
}
.titulos_indi{
  color: aliceblue; 
  font-family: Century Arial, Helvetica, sans-serif;
  font-size: 30px;
	margin-left: 180px;
}

.content_filmes {
  display: flex;
 flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-itens: flex-start;
}

.filmes{
  color: #141E3C;
  height: 320px;
  width: 200px;
  margin: 5px;
  padding: 18px;
   // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

.content_series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-itens: flex-start;
}


.content_livros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-itens: flex-start;
 
}

.content_documentarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-itens: flex-start;
}


 .series {
  height: 320px;
  width: 200px;
  margin: 5px;
   padding: 18px;
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

.livros {
  height: 320px;
  width: 200px;
  margin: 5px;
   padding: 18px; // alterar caso a linha fique com menos 5 indicacoes
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

.documentarios {
  height: 320px;
  width: 200px;
  margin: 5px;
  padding: 18px; // alterar caso a linha fique com menos 5 indicacoes
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

#botao_oculta {
  font-size: 40px; 
  cursor: pointer;
  background-color: #D6DEF6;
  border: none;
  margin-left: 100px;
}

 