


h2 {
  color: aliceblue;
  font-family: Arial;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
	margin-left: 150px;
}



.imagem {
 width: 300px;
 height: 380px;
 border-radius: 16%;
 margin-left: 10%;
 margin-top: 250px;
 float: left
}

.catalago{
  font-family: Arial;
 
  margin-top: 200px;
  float: left
  

}

.catalago_deta{
  
	margin: 65px;
  
}

.catalago_detal{
  color: #ffffff;
	text-decoration: none;
	font-size: 17px;
	font-weight:900;
	line-height: 17px;
  
  }

  iframe{
    margin-left: -570px;
    margin-top: 700px;
   

  }

#indi_topicos{
  color: #ffffff;
	font-size: 17px;
	font-weight:900;
	line-height: 17px;
  font-family: Arial;
  
}
#titulos_indi{
  color: aliceblue;
  font-family: Arial;
  font-size: 30px;
	margin-left: 180px;
}

.content_filmes {

  
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
 
 justify-content: center;
 align-itens: flex-start;


}

.filmes{
  height: 320px;
  width: 200px;
  margin: 5px;
  padding: 18px;
   // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

.content_series {

  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
 align-itens: flex-start;
 
}


.content_livros {


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
 align-itens: flex-start;
 
}

.content_documentarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
 align-itens: flex-start;
 
}


 .series {
  height: 320px;
  width: 200px;
  margin: 5px;
   padding: 18px;
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
}

.livros {
  height: 320px;
  width: 200px;
  margin: 5px;
   padding: 18px; // alterar caso a linha fique com menos 5 indicacoes
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
  
 
}

.documentarios {
  height: 320px;
  width: 200px;
  margin: 5px;
  padding: 18px; // alterar caso a linha fique com menos 5 indicacoes
  // -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.24); - lembrar de colocar sombra
  

}
 